<div class="px-4 xl:px-20">
    <div id="header" class="border-b-[0.5px] border-black/20 pb-[11px] xl:pb-5">
        <div class="grid grid-cols-2 pt-2.5 xl:pt-5 gap-16">
            <div class="flex justify-between">
                <div class="flex">
                    <img class="block xl:hidden pr-4" src="../assets/eva_menu-outline.png">
                    <img src="../assets/Logo.png" class="w-[92px] h-[19px]" style="max-width: unset;">
                </div>
                <div class="hidden xl:flex w-full pl-[59px] justify-between">
                    <div class="text-base flex items-end justify-center">Meet our tutors</div>
                    <div class="text-base flex items-end justify-center">Prices</div>
                    <div class="text-base flex items-end justify-center">Subjects</div>
                    <div class="text-base flex items-end justify-center">More <img class="ml-2 mb-3"
                            src="../assets/Vector.png"></div>
                </div>
            </div>
            <div class="flex justify-end">
                <div class="base-color hidden xl:flex items-end">Join as a tutor </div>
                <div class="flex items-center xl:items-end pl-[39px] arabic text-sm	">العربية</div>
                <div class="flex items-center xl:items-end ">
                    <img class="ml-2 pr-[5px]" src="../assets/arabic.png">
                </div>

            </div>
        </div>
    </div>
    <div class="flex pt-[32px] xl:pt-[72px]">
        <div class="xl:mr-[110px] xl:pt-[45px]">
            <span class="header-font-small xl:header-font">
                We match you with <br />the perfect tutor
            </span>
            <img class="hidden xl:block -mt-3" src="../assets/Vector (4).png" style="max-width: unset;">
            <div class="pt-4 xl:pt-[34px]">
                <div class="flex items-basline gray-font">
                    <div class="pr-[9.5px]"><img src="../assets/Vector (3).png" style="max-width: unset;"></div>
                    <span class="text-sm xl:text-lg">Private one-to-one online & offline classes</span>
                </div>
                <div class="flex items-basline gray-font">
                    <div class="pr-[9.5px] inline-block align-middle"><img src="../assets/Vector (3).png" style="max-width: unset;"></div>
                    <span class="text-sm xl:text-lg">Licensed by the Saudi Ministry of Commerce</span>
                </div>
                <div class="flex items-basline gray-font">
                    <div class="pr-[9.5px]"><img src="../assets/Vector (3).png" style="max-width: unset;"></div>
                    <span class="text-sm xl:text-lg" >Custom educational plans created for your child</span>
                </div>
                <div class="flex items-basline gray-font">
                    <div class="pr-[9.5px]"><img src="../assets/Vector (3).png" style="max-width: unset;"></div>
                    <span class="text-sm xl:text-lg">We teach everything and for all ages</span>
                </div>
                <div class="flex items-basline gray-font">
                    <div class="pr-[9.5px]"><img src="../assets/Vector (3).png" style="max-width: unset;"></div>
                    <span class="text-sm xl:text-lg">We only hire the best tutors</span>
                </div>
            </div>
            <div class="grid grid-cols-5">
                <div class="col-span-3 pb-[44px] xl:pb-0">
                    <div class="pt-[33px] ">
                        <button class="bg-[#46B875] rounded-[6px] w-[195px] h-[48px] xl:w-[240px] xl:h-[60px]" type="button"><span
                                class="free-consultation-button">Get a free consultation</span></button>
                    </div>
                    <div class="pt-4">
                        <span class="text-sm font-bold">Need an expert’s help?</span>
                    </div>
                    <div>
                        <span class="text-sm font-normal">Call us on:</span><span class="base-color text-sm font-normalpx-1">+966 11 510 2962</span>
                    </div>
                </div>
                <div class="flex items-stretch col-span-2 xl:hidden -ml-4">
                    <div class="self-end">
                        <img src="../assets/thing-HD 1.png"  style="max-width: unset;" width="157" height="147">
                    </div>
                </div>
            </div>
        </div>
        <div class="hidden xl:block">
            <img src="../assets/thing-HD 1.png" style="max-width: unset;" width="657" height="616">
        </div>
    </div>
    <div id="footer" class="footer-shadow">
        <div class="flex flex-col xl:flex-row justify-between">
            <div class="flex items-center pt-3.5 xl:py-1">
                <div><img src="../assets/gold-logo 1.png" width="78" height="39"> </div>
                <div class="text-xs xl:text-base font-bold xl:w-[370px] pl-2 xl:px-2">We are Maroof certified by the Saudi Ministry of
                    Commerce</div>
            </div>
            <div class="text-xs font-bold pt-2.5 pb-1 flex xl:hidden items-center justify-center">Featured In</div>

            <div class="flex justify-between w-full xl:w-[530px] xl:pb-0">
                <div class="text-base font-bold hidden xl:flex items-center">Featured In</div>
                <div class="flex items-center opacity-60"><img src="../assets/image 12.png"> </div>
                <div class="flex items-center opacity-60"><img src="../assets/1529796-1731261039 1.png"> </div>
                <div class="flex items-center opacity-60"><img src="../assets/Al-Arabiya_logo_(old) 1.png"> </div>
                <div class="flex items-center opacity-60"><img src="../assets/image 130.png"> </div>
            </div>
        </div>
    </div>
</div>