<div class="px-20">
    <div id="header" class="border-b-[0.5px] border-black/20 pb-5"> 
        <div class="grid grid-cols-2 pt-5 gap-16">
            <div class="flex justify-between">
                    <img   src="../assets/Logo.png">
                <div class="flex w-full pl-[59px] justify-between">
                    <div class="text-base flex items-center justify-center">Meet our tutors</div>
                    <div class="text-base flex items-center justify-center">Prices</div>
                    <div class="text-base flex items-center justify-center">Subjects</div>
                    <div class="text-base flex items-center justify-center">More <img class="ml-2" src="../assets/Vector.png"></div>
                </div>
            </div>
            <div class="flex justify-end">
                <div class="base-color flex items-center">Join as a tutor </div>
                <div class="flex items-end pl-[39px] arabic">العربية</div>
                <div class="flex items-end "> 
                    <img class="ml-2 mb-1 pr-[5px]" src="../assets/arabic.png"  >
                </div>

            </div>
          </div>
    </div>
    <div class="flex pt-[72px]">
        <div class="mr-[110px] pt-[35px]">
            <span class="header-font">
                We match you with the perfect tutor
            </span>
            <img src="../assets/Vector (4).png" style="max-width: unset;" >
            <div class="pt-[34px]">
                <div class="flex items-center gray-font"><div class="pr-[9.5px]"><img src="../assets/Vector (3).png" style="max-width: unset;" ></div>Private one-to-one online & offline classes </div>
                <div class="flex items-center pt-1 gray-font"><div class="pr-[9.5px]"><img src="../assets/Vector (3).png" style="max-width: unset;" ></div>Licensed by the Saudi Ministry of Commerce </div>
                <div class="flex items-center pt-1 gray-font"><div class="pr-[9.5px]"><img src="../assets/Vector (3).png" style="max-width: unset;" ></div>Custom educational plans created for your child </div>
                <div class="flex items-center pt-1 gray-font"><div class="pr-[9.5px]"><img src="../assets/Vector (3).png" style="max-width: unset;" ></div>We teach everything and for all ages </div>
                <div class="flex items-center pt-1 gray-font"><div class="pr-[9.5px]"><img src="../assets/Vector (3).png" style="max-width: unset;" ></div>We only hire the best tutors </div>
            </div>
            <div class="pt-[33px] ">
                <button class="bg-[#46B875] rounded-[6px] px-[26px] py-[21px]" type="button"><span class="free-consultation-button">Get a free consultation</span></button>
            </div>
            <div class="pt-4">
                <span class="text-sm font-bold">Need an expert’s help?</span>
            </div>
            <div>
                <span class="text-sm font-bold">Call us on:</span><span class="base-color px-1">+966 11 510 2962</span>
            </div>
        </div>
        <div>
            <img src="../assets/thing-HD 1.png" style="max-width: unset;"  width="657" height="616">
        </div>
    </div>
    <div id="footer" class="footer-shadow">
        <div class="flex justify-between">
            <div class="flex p-2">
                <div><img src="../assets/gold-logo 1.png"  width="78" height="39"> </div>
                <div class="text-base font-bold w-[270px] px-2">We are Maroof certified by the Saudi Ministry of Commerce</div>
            </div>
            <div class="flex justify-between w-[530px]">
                <div class="text-base font-bold flex items-center">Featured In</div>
                <div class="flex items-center opacity-60"><img src="../assets/image 12.png"> </div>
                <div class="flex items-center opacity-60"><img src="../assets/1529796-1731261039 1.png"> </div>
                <div class="flex items-center opacity-60"><img src="../assets/Al-Arabiya_logo_(old) 1.png"> </div>
                <div class="flex items-center opacity-60"><img src="../assets/image 130.png"> </div>
            </div>
        </div>
    </div>
</div>
